# Data Science Tools and Ecosystem

# Introduction
Data Science Tools and Ecosystem are summarized

##  Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

##  Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. matplotlib
3. plotly
4. pandas
5. NumPy

##  Data Science tools
 | Data Science Tools| R Studio| Apache Spark | Apache Hadoop |
 |----| ----| -------| -----|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This is a simple arithmetic expression to mutiply then add integers-
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

#  Objectives:
###  List popular languages for Data Science:
- Pyhton
- R
- SQL